@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}
.card .card-body .buttons a {
  padding: 5px 10px;
}
.card .card-body .buttons a svg {
  transition: 0.3s all ease-in-out;
}
.card .card-body .buttons a:hover svg {
  animation: slideRight 0.5s linear infinite;
  transition: 0.3s all ease-in-out;
}
