header .menu ul li a {
  position: relative;
  transition: all 0.3s;
  font-weight: 500;
  font-size: 16px;
}
header .menu ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #8750f7 0%, #8850f7ad 60%, transparent 100%);
  transition: all 0.3s;
}

header .menu ul li a:hover:after {
  width: 100%;
  left: 0;
}
.menu-list {
  display: none;
}

@media (min-width: 769px) {
  .menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .show-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: var(--background);
    height: calc(100vh - 65px);
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }
  header .show-mobile li {
    padding: 20px 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  header .menu ul li a {
    font-size: 20px;
  }
}
