@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #160c23;
  --foreground: #050709;
  --gray: #ddd;
  --blue: #8750f7;
  --hover-blue: #8043fcad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--blue) #2a1454;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
*:focus {
  outline: none;
}

p {
  line-height: 1.3;
  color: var(--gray);
}

.main-heading {
  font-size: 40px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .main-heading {
    font-size: 30px;
  }
}

.text-effect {
  background-image: linear-gradient(to right, #8750f7 0%, #fff 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ease {
  transition: all 0.3s ease;
}
.btn {
  padding: 10px 20px;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .btn {
    padding: 8px 16px;
  }
}
.btn-rounded {
  padding: 6px;
  border-radius: 50%;
}
.btn-shape {
  border: 2px solid var(--blue);
  color: var(--blue);
  transition: 0.15s all linear;
  cursor: pointer;
  font-weight: 600;
}
.btn-shape:hover {
  background-color: var(--blue);
  color: white;
}
@layer utilities {
  .container {
    margin: 0 auto;
    padding: 0 15px;
  }
}
