.resume-card::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #ffffffd0;
    border-radius: 50%;
}
.resume-card:not(:last-of-type)::after{
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 2px;
    height: 130%;
    background: #f5f5f541;
    border-radius: 50%;
}